* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  color: black;
  font-size: 17px;
}

body {
  background-image: linear-gradient(125deg, #6a5acd, #4682b4);
  min-height: 100vh;
  min-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

.button {
  border: 1px solid white;
  border-radius: 1em;
  width: 100px;
  height: 40px;
  margin: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
  background-color: black;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

.button:hover {
  background-color: lightgreen;
  color: black;
}

.input {
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 1em;
  border-bottom: 6px solid black;
  margin-bottom: 10px;
  margin: 0 auto;
  outline: none;
  font-size: 17px;
  text-indent: 1.5px;
}

#results {
  border: 1px solid black;
  border-radius: 1em;
  /* width: 675px; */
  width: 100%;
  max-height: fit-content;
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 17px;
  margin-bottom: 20px;
}

#container-2 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1em;
  width: 100%;
  max-height: fit-content;
  margin: 5px;
  padding: 50px;
  background-color: lightblue;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: blue;
}

a:hover {
  font-weight: bold;
  color: purple;
  cursor: pointer;
}

img {
  border: 1px solid black;
  border-radius: 1em;
  width: 100%;
}

p {
  margin-left: 5px;
  font-size: 30px;
  padding: 0;
}

#image {
  margin-top: 5px;
  margin-bottom: 5px;
}

#title {
  margin-left: 5px;
}

h1 {
  color: white;
  font-size: 100px;
  font-family: "Squada One", sans-serif;
}

h2,
h4 {
  font-family: "Squada One", sans-serif;
  font-size: 35px;
}

h3 {
  font-family: "Squada One", sans-serif;
  font-size: 40px;
}

h4 {
  margin-top: 5px;
}

#apiNews,
#pull {
  color: white;
  margin-top: 15px;
}

#date {
  margin-bottom: 20px;
}
